certifi==2021.10.8
charset-normalizer==2.0.12
fastapi==0.115.0
idna==3.3
passlib==1.7.4
psycopg2-binary==2.9.10
pydantic==2.11.2
pydantic-settings==2.9.1
python-jose==3.3.0
python-multipart==0.0.20
requests==2.27.1
sqlalchemy==2.0.27
urllib3==1.26.9
uvicorn==0.34.0
alembic==1.12.0
